@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Merriweather:300i|Montserrat:400,600,700,800|Roboto+Slab");
/*ciemne nagłówki*/
/*p w services*/
/*golden*/
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.container {
  width: 70%;
  margin: auto;
}

/*HEADER*/
header {
  height: 100vh;
  min-height: 700px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/background-image.jpg);
  overflow: hidden;
}

header .top-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  padding-top: 40px;
}

@media (max-width: 768px) {
  header .top-nav {
    -ms-flex-direction: column;
        flex-direction: column;
  }
}

header .logo {
  cursor: pointer;
}

@media (max-width: 768px) {
  header .logo {
    display: inline-block;
  }
}

header ul {
  list-style: none;
}

@media (max-width: 768px) {
  header ul {
    padding: 0;
    margin: 0;
  }
}

header li {
  display: inline-block;
}

@media (max-width: 768px) {
  header li {
    padding: 3px;
    display: block;
    text-align: center;
    font-size: 20px;
  }
}

header a {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  margin-right: 40px;
  pointer: cursor;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  transition: 0.6s;
}

header a:after {
  content: "";
  height: 3px;
  width: 0;
  background: #fed136;
  display: block;
  margin: 0 auto;
  opacity: 0;
  transition: 0.6s;
}

header a:hover:after {
  opacity: 1;
  width: 100%;
}

@media (max-width: 768px) {
  header a {
    margin: 0;
  }
}

@media (max-width: 992px) {
  header a {
    margin-right: 15px;
  }
}

header h2 {
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 0;
  margin-top: 245px;
  font-size: 40px;
  color: #ffffff;
  font-family: "Merriweather", serif;
  text-shadow: 1px 1px 1px #808080;
}

@media (max-width: 768px) {
  header h2 {
    margin-top: 10%;
  }
}

@media (max-width: 992px) {
  header h2 {
    margin-top: 15%;
  }
}

header h1 {
  text-transform: uppercase;
  font-size: 75px;
  text-align: center;
  margin: 20px auto 59px auto;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-shadow: 1px 1px 1px #808080;
}

@media (max-width: 768px) {
  header h1 {
    font-size: 60px;
    margin-bottom: 30px;
  }
}

@media (max-width: 992px) {
  header h1 {
    font-size: 65px;
  }
}

header button {
  text-transform: uppercase;
  font-size: 18px;
  width: 240px;
  height: 65px;
  border-radius: 5px;
  border: none;
  display: block;
  margin: 0 auto;
  color: #ffffff;
  background-color: #fed136;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  transition: 0.3s ease-in-out;
}

header button:hover {
  transform: scale(1.1);
}

/*SERVICES*/
.services {
  margin-top: 120px;
  margin-bottom: 120px;
}

.services h1 {
  text-align: center;
  text-transform: uppercase;
  line-height: 0;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: #222222;
}

.services p {
  margin-top: 30px;
  margin-bottom: 70px;
  text-align: center;
  font-size: 16px;
  font-family: "Merriweather", serif;
  color: #777777;
}

.services .icons {
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .services .icons {
    -ms-flex-direction: column;
        flex-direction: column;
  }
}

.services .icons div {
  text-align: center;
  padding: 20px 30px;
  transition: 0.9s;
}

.services .icons div h2 {
  text-transform: capitalize;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #222222;
}

.services .icons div p {
  font-size: 14px;
  font-family: "Roboto Slab", serif;
  color: #777777;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 0;
}

.services .icons div:hover {
  background: #fed136;
  /*  &:hover p,
                &:hover h2 {
                color: white; 
                } */
}

/*PORTFOLIO*/
.our-portfolio {
  background: #f7f7f7;
  padding-top: 100px;
}

.our-portfolio h1 {
  text-transform: uppercase;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 800;
  color: #222222;
  line-height: 0;
}

.our-portfolio p {
  margin-top: 30px;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 16px;
  color: #777777;
}

.our-portfolio .portfolio {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 75px;
  padding-bottom: 110px;
}

.our-portfolio .portfolio div {
  background: #ffffff;
  width: 290px;
  height: 390px;
  margin: 25px 0;
  text-align: center;
}

.our-portfolio .portfolio div img {
  width: 290px;
  height: 300px;
  cursor: pointer;
  transition: 0.6s;
}

.our-portfolio .portfolio div img:hover {
  transform: scale(1.08);
  opacity: 0.8;
}

.our-portfolio .portfolio div h2 {
  text-transform: capitalize;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: #222222;
}

.our-portfolio .portfolio div p {
  margin-top: 2px;
  font-family: "Merriweather", serif;
  font-size: 14px;
  color: #737373;
}

/*ABOUT US*/
.about-us {
  padding-bottom: 125px;
  margin: auto;
  position: relative;
}

.about-us h1 {
  text-transform: uppercase;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 800;
  color: #222222;
  padding-top: 120px;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 0;
}

.about-us p {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 84px;
  font-family: "Merriweather", serif;
  font-size: 16px;
  color: #777777;
}

.about-us .about .timeline {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin-bottom: 83px;
}

.about-us .about .timeline .content {
  width: 320px;
}

.about-us .about .timeline .content h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #222222;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 15px;
}

.about-us .about .timeline .content h2 span {
  text-transform: capitalize;
}

.about-us .about .timeline .content p {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  line-height: 1.5;
  color: #777777;
}

.about-us .about .timeline .content .text-right {
  text-align: right;
}

.about-us .about .timeline .content .text-left {
  text-align: left;
}

.about-us .about .timeline .circle {
  width: 169px;
  height: 170px;
  border: 5px solid #f1f1f1;
  border-radius: 50%;
  margin-left: 40px;
  margin-right: 40px;
  transition: 0.7s;
}

.about-us .about .timeline .circle:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.about-us .about .timeline .photo-july {
  object-fill: cover;
  background-position: center;
}

.about-us .about .timeline .photo-january {
  object-fill: cover;
  background-position: center;
}

.about-us .about .timeline .photo-december {
  object-fill: cover;
  background-position: center;
}

.about-us .about .timeline .photo-february {
  object-fill: cover;
  background-position: center;
}

.about-us .about .timeline .empty {
  height: 170px;
  width: 320px;
}

@media (max-width: 768px) {
  .about-us .about .timeline .empty {
    display: none;
  }
}

@media (max-width: 992px) {
  .about-us .about .timeline {
    margin-bottom: 1%;
  }
}

@media (max-width: 768px) {
  .about-us .about .timeline {
    margin-bottom: 83px;
  }
}

.about-us .about .our-story .circle-story {
  background: #fed136;
}

.about-us .about .our-story .story {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 1.7;
  margin-top: 25px;
}

.about-us .about:before {
  content: "";
  width: 3px;
  height: 70%;
  background: #f1f1f1;
  position: absolute;
  z-index: -1;
  left: 50%;
}

@media (max-width: 768px) {
  .about-us .about:before {
    display: none;
  }
}

@media (max-width: 768px) {
  .about-us {
    padding-bottom: 0;
  }
}

/*TEAM*/
.section-team {
  background: #f9f9f9;
  margin-top: 0;
}

.section-team h1 {
  text-transform: uppercase;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 800;
  color: #222222;
  padding-top: 120px;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 0;
}

.section-team p {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 83px;
  font-family: "Merriweather", serif;
  font-size: 16px;
  color: #777777;
}

.section-team .team {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section-team .photo-team .photo {
  width: 235px;
  height: 235px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.7s;
}

.section-team .photo-team .photo:hover {
  opacity: 0.8;
}

.section-team .photo-team .kimberly {
  background: url("https://images.pexels.com/photos/733872/pexels-photo-733872.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: center;
}

.section-team .photo-team .rico {
  background: url("https://images.pexels.com/photos/542282/pexels-photo-542282.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: center;
}

.section-team .photo-team .uku {
  background: url("https://images.pexels.com/photos/428341/pexels-photo-428341.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: center;
}

.section-team .photo-team h2 {
  text-align: center;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 800;
  color: #222222;
}

.section-team .photo-team p {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  color: #777777;
}

.section-team .photo-team .social-media {
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.section-team .photo-team .social-media .fab {
  text-align: center;
  border: 3px solid #222222;
  color: #222222;
  width: 40px;
  height: 40px;
  font-size: 20px;
  border-radius: 50%;
  line-height: 34px;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.section-team .photo-team .social-media .fab:hover {
  background: #222222;
  color: #ffffff;
  border: none;
  line-height: 40px;
}

@media (max-width: 768px) {
  .section-team .photo-team {
    margin-bottom: 30px;
  }
}

.section-team .text-end {
  color: green;
  margin-top: 50px;
  padding-bottom: 117px;
  margin-bottom: 0;
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  color: #777777;
}

@media (max-width: 768px) {
  .section-team .text-end {
    margin-top: 25px;
  }
}

/*LOGOS*/
.section-logos {
  height: 165px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.section-logos .logos {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-logos .logos img {
  margin-right: 39px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .section-logos .logos img {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .section-logos .logos img {
    padding-bottom: 20px;
  }
}

@media (max-width: 1200px) {
  .section-logos .logos {
    -ms-flex-pack: justify;
        justify-content: space-between;
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .section-logos {
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

/*CONTACT*/
.section-contact {
  background: #222222;
  background-image: url(../images/map.png);
  background-repeat: no-repeat;
  background-position: 850px 98px;
  background-size: cover;
  padding-bottom: 115px;
}

.section-contact h1 {
  text-transform: uppercase;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 800;
  color: #ffffff;
  padding-top: 110px;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 0;
}

.section-contact p {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 76px;
  font-family: "Merriweather", serif;
  font-size: 16px;
  color: #777777;
}

.section-contact .contact form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

@media (max-width: 768px) {
  .section-contact .contact form {
    -ms-flex-direction: column;
        flex-direction: column;
  }
}

.section-contact .contact .inputs {
  width: 455px;
  margin-right: 29px;
}

.section-contact .contact .inputs input {
  border: 1px solid #cccccc;
  width: 100%;
  height: 50px;
  margin-bottom: 29px;
  padding: 0;
  padding-left: 20px;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.section-contact .contact .inputs input:last-child {
  margin-bottom: 0;
}

@media (max-width: 992px) {
  .section-contact .contact .inputs {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .section-contact .contact .inputs {
    margin: 0 auto 29px auto;
  }
}

.section-contact .contact .message {
  width: 455px;
}

.section-contact .contact .message textarea {
  border: 1px solid #cccccc;
  height: 208px;
  width: 100%;
  padding: 0;
  padding-left: 21px;
  padding-top: 15px;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

@media (max-width: 992px) {
  .section-contact .contact .message {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .section-contact .contact .message {
    margin: 0 auto 29px auto;
  }
}

.section-contact .contact button {
  text-transform: uppercase;
  font-size: 18px;
  width: 240px;
  height: 65px;
  border-radius: 5px;
  border: none;
  display: block;
  margin: 0 auto;
  margin-top: 29px;
  color: #ffffff;
  background-color: #fed136;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  transition: 0.3s ease-in-out;
}

.section-contact .contact button:hover {
  transform: scale(1.1);
}

/*FOOTER*/
footer {
  height: 90px;
  display: -ms-flexbox;
  display: flex;
}

footer .footer {
  display: -ms-flexbox;
  display: flex;
}

footer .footer .copyright {
  -ms-flex: 1;
      flex: 1;
}

footer .footer .copyright h3 {
  font-family: "Montserrat", sans-serif;
  color: #555555;
  font-size: 14px;
}

@media (max-width: 768px) {
  footer .footer .copyright {
    -ms-flex: 1;
        flex: 1;
  }
}

footer .footer .social-media-icons {
  -ms-flex: 2;
      flex: 2;
  padding-left: 130px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

footer .footer .social-media-icons .fab {
  text-align: center;
  background: #222222;
  color: #ffffff;
  width: 40px;
  height: 40px;
  font-size: 20px;
  border-radius: 50%;
  line-height: 40px;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.8s;
}

footer .footer .social-media-icons .fab:hover {
  color: #222222;
  background: #ffffff;
  line-height: 34px;
  border: 3px solid #222222;
}

@media (max-width: 768px) {
  footer .footer .social-media-icons .fab {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  footer .footer .social-media-icons {
    padding-left: 0;
    -ms-flex: 1;
        flex: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
/*# sourceMappingURL=style.css.map */