
@import url('https://fonts.googleapis.com/css?family=Merriweather:300i|Montserrat:400,600,700,800|Roboto+Slab');
//ZMIENNE
// fonty 
$font-primary: 'Montserrat', sans-serif;
$font-second: 'Merriweather', serif;
$font-p: 'Roboto Slab', serif;

$fontSize-primary: 40px;
$fontSize-second: 18px;
$fontSize-third: 17px;
$fontSize-fourth: 16px;
$fontSize-fifth: 14px;

//kolory
$color-primary: #222222; /*ciemne nagłówki*/
$color-second: #ffffff;
$color-third: #777777; /*p w services*/
$color-fourth: #fed136; /*golden*/
$color-fifth: #737373; 
$color-background: #f7f7f7;

//PAGE

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
} 

.container {
    width: 70%; 
    margin: auto;
}

/*HEADER*/

header {
    height: 100vh;
    min-height: 700px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/background-image.jpg);
    overflow: hidden;
    
    .top-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-content: flex-start;
        padding-top: 40px;
     

        @media(max-width: 768px) {
            flex-direction: column; 
    
        } 
    }

    .logo {
        cursor: pointer;
        
        @media(max-width: 768px) {
            display: inline-block;
        }
    }

    ul {
        list-style: none;

        @media(max-width: 768px) {
            padding: 0;
            margin: 0;
        }
    }

    li {
        display: inline-block;

        @media(max-width: 768px) {
            padding: 3px;
            display: block;
            text-align: center;
            font-size: 20px;
        }
    }

    a {
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
        color:$color-second;
        font-size: $fontSize-fifth;
        margin-right: 40px;
        pointer: cursor;
        font-family: $font-primary;
        font-weight: 600;
        transition: 0.6s;

        &:after {
            content: "";
            height: 3px;
            width: 0;
            background: $color-fourth;
            display: block;
            margin: 0 auto;
            opacity: 0;
            transition: 0.6s;
        }
        &:hover {

            &:after {
                opacity: 1;
                width: 100%;
            }
        }

        @media(max-width: 768px) {
            margin: 0;
        }

        @media(max-width: 992px) {
            margin-right: 15px;
        }
    }

    h2 {
        text-transform: capitalize;
        text-align: center;
        margin-bottom: 0;
        margin-top: 245px;
        font-size: $fontSize-primary;
        color:$color-second;
        font-family:$font-second;
        text-shadow: 1px 1px 1px #808080; 

       @media(max-width: 992px) {
            margin-top: 15%;
        } 

        @media(max-width: 768px) {
            margin-top: 15%;
            font-size: 30px;
        } 
    }

    h1 {
        text-transform: uppercase;
        font-size: 75px;
        text-align: center;
        margin: 20px auto 59px auto;
        color: $color-second;
        font-family: $font-primary;
        font-weight: 700;
        text-shadow: 1px 1px 1px #808080;

         @media(max-width: 992px) {
            font-size: 65px;
        } 

         @media(max-width: 768px) {
            font-size: 45px;
            margin-bottom: 30px;
        }  
    }

    button {
        text-transform: uppercase;
        font-size: $fontSize-second;
        width: 240px;
        height: 65px;
        border-radius: 5px;
        border: none;
        display: block;
        margin: 0 auto;
        color: $color-second;
        background-color: $color-fourth;
        cursor: pointer;
        font-family: $font-primary;
        font-weight: 700;
       transition: 0.3s ease-in-out;

       &:hover {
        transform: scale(1.1);
       }  
    }
}

/*SERVICES*/
 .services {
    margin-top: 120px;
    margin-bottom: 120px;

     h1 {
        text-align: center;
        text-transform: uppercase;
        line-height: 0;
        font-size: $fontSize-primary;
        font-family: $font-primary;
        font-weight: 800;
        color: $color-primary;
     }

     p {
        margin-top: 30px;
        margin-bottom: 70px;
        text-align: center;
        font-size: $fontSize-fourth;
        font-family: $font-second;
        color: $color-third;
     }

     .icons { 
        display: flex;

        @media(max-width: 768px) {
            flex-direction: column;
        }

        div {
            text-align:center;
            padding: 20px 30px;
            transition: 0.9s;

            h2 {
                text-transform: capitalize;
                font-size: $fontSize-second;
                margin-top: 10px;
                margin-bottom: 10px;
                font-family: $font-primary;
                font-weight: 700;
                color: $color-primary;
            }

            p { 
                font-size: $fontSize-fifth;
                font-family: $font-p;
                color: $color-third;
                line-height: 1.5;
                margin-top: 0;
                margin-bottom: 0;
            }

            &:hover {
                background: $color-fourth;
              /*  &:hover p,
                &:hover h2 {
                color: white; 
                } */
            }
        }
    }
}

/*PORTFOLIO*/
.our-portfolio {
     background: $color-background;
     padding-top: 100px;

     h1 {
        text-transform: uppercase;
        text-align: center;
        font-family: $font-primary;
        font-size: $fontSize-primary;
        font-weight: 800;
        color: $color-primary;
        line-height: 0;

         @media(max-width: 768px) { 
            line-height: normal;
            margin-bottom: 0;
        }
     }

     p {
        margin-top: 30px;
        text-align: center;
        font-family:$font-second;
        font-size: $fontSize-fourth;
        color: $color-third;

        @media(max-width: 768px) { 
            line-height: normal;
            margin-top: 10px;
        }
     }

     .portfolio {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 75px;
        padding-bottom: 110px;

        div {
            background: $color-second;
            width: 290px;
            height: 390px;
            margin: 25px 0;
            text-align: center;

            img {
                width: 290px;
                height: 300px;
                cursor: pointer;
                transition: 0.6s;

                &:hover {
                    transform: scale(1.08);
                    opacity: 0.8;
                }
            }

            h2 { 
                text-transform: capitalize;
                margin-bottom: 0;
                font-family: $font-primary;
                font-size: $fontSize-second;
                font-weight: 800;
                color: $color-primary;
            }

            p {
                margin-top: 2px;
                font-family: $font-second;
                font-size: $fontSize-fifth;
                color: $color-fifth;
            }

        }
     }  
}

/*ABOUT US*/
.about-us {
    padding-bottom: 125px;
    margin: auto;
    position: relative;

    h1 {
        text-transform: uppercase;
        text-align: center;
        font-family: $font-primary;
        font-size: $fontSize-primary;
        font-weight: 800;
        color: $color-primary;
        padding-top: 120px;
        margin-bottom: 0;
        margin-top: 0;
        line-height: 0;
    }

    p {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 84px;
        font-family:$font-second;
        font-size: $fontSize-fourth;
        color: $color-third;
    }


    .about {

        .timeline {
            display: flex;
            justify-content: center;
            margin-bottom: 83px;

            .content {
                width: 320px;

                h2 {
                    font-family: $font-primary;
                    font-size: $fontSize-second;
                    color: $color-primary;
                    text-transform: uppercase;
                    margin-top: 0;
                    margin-bottom: 15px;

                    span {
                        text-transform: capitalize;
                    }

                } 

                p {
                    margin-top: 0;
                    margin-bottom: 0;
                    font-family: $font-p;
                    font-size: $fontSize-fifth;
                    line-height: 1.5;
                    color: $color-third;
                }

                .text-right {
                    text-align: right;

                     @media(max-width: 768px) {
                      text-align: center; 
                    }
                }

                .text-left {
                    text-align: left;

                     @media(max-width: 768px) {
                      text-align: center; 
                    }
                }

                @media(max-width: 768px) {
                      width: auto; 
                }
            }

            .circle {
                width: 169px;
                height: 170px; 
                border: 5px solid #f1f1f1;
                border-radius: 50%;
                margin-left: 40px;
                margin-right: 40px;
                transition: 0.7s;

                &:hover {
                        transform: scale(1.2);
                        cursor: pointer;
                }

                @media(max-width: 768px) {
                    margin-bottom:45px;
                }
            }

            .photo-july {
                object-fill: cover;
                background-position: center;

                @media(max-width: 768px) {
                    order: -1;
                }
            }

            .photo-january {
                object-fill: cover;
                background-position: center;
            }

            .photo-december {
                object-fill: cover;
                background-position: center;
                
                @media(max-width: 768px) {
                    order: -1;
                }
            }

            .photo-february {
                object-fill: cover;
                background-position: center;
            }

            .empty {
            height: 170px;
            width: 320px;

            @media(max-width: 768px) {
                display: none;
            }
            }

            @media(max-width: 992px) {
                margin-bottom: 1%;
            }

             @media(max-width: 768px) {
                display: flex;
                flex-direction: column;
                margin-bottom: 45px;
                align-items: center;
            }

        }

        .our-story {
            .circle-story {
                background: $color-fourth;
            }

            .story {
                color: $color-second;
                text-align: center;
                text-transform: uppercase;
                font-family: $font-primary;
                font-size: $fontSize-second;
                line-height: 1.7;
                margin-top: 25px;
            }
        }

    &:before {
        content: "";
        width: 3px;
        height: 70%;
        background: #f1f1f1;
        position: absolute;
        z-index: -1;
        left: 50%;

        @media(max-width: 768px) {
            display: none;
        }
    }

    }

    @media(max-width: 768px) {
          padding-bottom: 0;  
        }
}
    

/*TEAM*/
.section-team {
    background: #f9f9f9;
    margin-top: 0;

    h1 {
        text-transform: uppercase;
        text-align: center;
        font-family: $font-primary;
        font-size: $fontSize-primary;
        font-weight: 800;
        color: $color-primary;
        padding-top: 120px;
        margin-bottom: 0;
        margin-top: 0;
        line-height: 0;

         @media(max-width: 768px) { 
            line-height: normal;
        }
    }

    p {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 83px;
        font-family:$font-second;
        font-size: $fontSize-fourth;
        color: $color-third;

        @media(max-width: 768px) { 
            margin-top: 10px;
        }
    }

    .team {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .photo-team {

        .photo {
            width: 235px;
            height: 235px;
            border-radius: 50%;
            cursor: pointer;
            transition: 0.7s;

            &:hover {
            opacity: 0.8;
            }

        }

        .kimberly {
            background: url("https://images.pexels.com/photos/733872/pexels-photo-733872.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
            background-size: cover;
            background-position: center;
        }   

        .rico {
            background: url("https://images.pexels.com/photos/542282/pexels-photo-542282.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
            background-size: cover;
            background-position: center;
        }

        .uku {
            background: url("https://images.unsplash.com/photo-1506085452766-c330853bea50?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c90ef12b4dc22a4a4c277dd056dd0b7e&auto=format&fit=crop&w=1050&q=80");
            background-size: cover;
            background-position: center;
        }

        h2 {
            text-align: center;
            margin-bottom: 0;
            font-family: $font-primary;
            font-size: $fontSize-fourth;
            font-weight: 800;
            color: $color-primary;
        }

        p {
            text-align: center;
            margin-top: 5px;
            margin-bottom: 10px;
            font-family: $font-p;
            font-size: $fontSize-fifth;
            color: $color-third;

        }

        .social-media {
            margin: 0 auto;
            display: flex;
            justify-content: center;

            .fab {
                text-align: center;
                border: 3px solid $color-primary;
                color: $color-primary;
                width: 40px;
                height: 40px;
                font-size: 20px;
                border-radius: 50%;
                line-height: 34px;
                margin-right: 10px;
                cursor: pointer;
                transition: 0.5s;

                &:hover {
                    background: $color-primary;
                    color: $color-second;
                    border: none;
                    line-height: 40px;
                }
            }
        }

        @media(max-width: 768px) {
          margin-bottom: 30px;  
        }
    }

    .text-end {
        color: green;
        margin-top: 50px;
        padding-bottom: 117px;
        margin-bottom: 0;
        font-family: $font-p;
        font-size: $fontSize-fourth;
        color: $color-third;

        @media(max-width: 768px) {
          margin-top: 25px;  
        }
    }
}

/*LOGOS*/
.section-logos {
    height: 165px;
    display: flex;
    align-items: center;

    .logos {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;


        .logo {
            @media(max-width: 1200px) {
                width: 50%;
                display: flex;
                justify-content: center;
            }

            @media(max-width: 768px) {
                width: 100%;
            }
        }

        img {
            cursor: pointer;

            @media(max-width: 1200px) {
                padding: 10px;
            }

            @media(max-width: 992px) {
                width: auto;
                padding: 10px;

            }  

           @media(max-width: 768px) {
                padding-bottom: 20px;
            }
        }

            @media(max-width: 1200px) {
                justify-content: space-between;
                padding: 20px;
            }

            @media(max-width: 768px) {
                justify-content: center;
            }
    }   

        @media(max-width: 1200px) {
              height: auto;
            }

        @media(max-width: 768px) {
          height: auto;
          margin-top: 30px;
          margin-bottom: 30px; 

        }
}

/*CONTACT*/
.section-contact {
    background: $color-primary;
    background-image: url(../images/map.png);
    background-repeat:no-repeat;
    background-position: 850px 98px;
    background-size: cover;
    padding-bottom: 115px;

    h1 {
        text-transform: uppercase;
        text-align: center;
        font-family: $font-primary;
        font-size: $fontSize-primary;
        font-weight: 800;
        color: $color-second;
        padding-top: 110px;
        margin-bottom: 0;
        margin-top: 0;
        line-height: 0;

        @media(max-width: 768px) { 
            line-height: normal;
        }
    }

    p {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 76px;
        font-family:$font-second;
        font-size: $fontSize-fourth;
        color: $color-third;

        @media(max-width: 768px) { 
            margin-top: 10px;
        }
    }

    .contact {

        form {
            display: flex;
            justify-content: center;

            @media(max-width: 768px) {
               flex-direction: column;
            } 
                
        }

        .inputs {
            width: 455px;
            margin-right: 29px;

            input { 
                border: 1px solid #cccccc;
                width: 100%;
                height: 50px;
                margin-bottom: 29px;
                padding: 0;
                padding-left: 20px;
                font-size: 14px;
                text-transform: uppercase;
                font-family: $font-primary;
                font-weight: 700;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            @media(max-width: 992px) {
                width: 100%;
            }  

            @media(max-width: 768px) {
                margin: 0 auto 29px auto;
            } 
        }


        .message {
            width: 455px;

            textarea {
                border: 1px solid #cccccc;
                height: 208px;
                width: 100%;
                padding: 0;
                padding-left: 21px;
                padding-top: 15px;
                font-size: $fontSize-fifth;
                text-transform: uppercase;
                font-family: $font-primary;
                font-weight: 700;
     
            }

                @media(max-width: 992px) {
                    width: 100%;
                }  

                @media(max-width: 768px) {
                    margin: 0 auto 29px auto;
                } 
        }

        button {
                text-transform: uppercase;
                font-size: $fontSize-second;
                width: 240px;
                height: 65px;
                border-radius: 5px;
                border: none;
                display: block;
                margin: 0 auto;
                margin-top: 29px;
                color: $color-second;
                background-color: $color-fourth;
                cursor: pointer;
                font-family: $font-primary;
                font-weight: 700;
                transition: 0.3s ease-in-out;

                &:hover {
                    transform: scale(1.1);
                }  
        }

    }
}


/*FOOTER*/
footer {
    height: 90px;
    display: flex;

    .footer {
        display: flex;
    
        .copyright {
            flex: 1;

            h3 {
            font-family: $font-primary;
            color: #555555;
            font-size: $fontSize-fifth;
            }
            
            @media(max-width: 768px) {
                text-align: center;
            }
            } 

        .social-media-icons {
            flex: 2;
            padding-left: 130px; 
            display: flex;
            align-items: center;

            a {
                @media(max-width: 768px) {
                   padding: 20px 10px;
                   padding-bottom: 6px;

                }  
            }

            .fab {
                    text-align: center;
                    background: $color-primary;
                    color: $color-second;
                    width: 40px;
                    height: 40px;
                    font-size: 20px;
                    border-radius: 50%;
                    line-height: 40px;
                    margin-right: 10px;
                    cursor: pointer;
                    transition: 0.8s;

                    &:hover {
                        color: $color-primary;
                        background: $color-second;
                        line-height: 34px;
                        border: 3px solid $color-primary;
                    }

                    @media(max-width: 768px) {
                    margin-right: 0;
                    } 
            }

            @media(max-width: 768px) {
                padding-left: 0;
                display: flex;
                justify-content: center; 
                order: -1;
            }  
        }

        @media(max-width: 768px) {
                flex-direction: column;
            }  
    }

}







