
@import url('https://fonts.googleapis.com/css?family=Merriweather:300i|Montserrat:400,600,700,800|Roboto+Slab');
//ZMIENNE
// fonty 
$font-primary: 'Montserrat', sans-serif;
$font-second: 'Merriweather', serif;
$font-p: 'Roboto Slab', serif;

$fontSize-primary: 40px;
$fontSize-second: 18px;
$fontSize-third: 17px;
$fontSize-fourth: 16px;
$fontSize-fifth: 14px;

//kolory
$color-primary: #222222; /*ciemne nagłówki*/
$color-second: #ffffff;
$color-third: #777777; /*p w services*/
$color-fourth: #fed136; /*golden*/
$color-fifth: #737373; 
$color-background: #f7f7f7;


* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
} 

.container {
    width: 70%; 
    margin: auto;
}

/*HEADER*/

header {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/background-image.jpg);
    overflow: hidden;
    
    .top-nav {
        height: 30px;  
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 40px;
    }

    ul {
        list-style: none;
    }

    li {
        display: inline-block;
    }

    a {
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
        color:$color-second;
        font-size: $fontSize-fifth;
        margin-right: 40px;
        pointer: cursor;
        font-family: $font-primary;
        font-weight: 600;
    }

    h1 {
        text-transform: capitalize;
        text-align: center;
        margin-bottom: 0;
        margin-top: 245px;
        font-size: $fontSize-primary;
        color:$color-second;
        font-family:$font-second;
        text-shadow: black 0.1em 0.1em 0.2em;
    }

    p {
        text-transform: uppercase;
        font-size: 75px;
        text-align: center;
        margin: 20px auto 59px auto;
        color: $color-second;
        font-family: $font-primary;
        font-weight: 700;
        text-shadow: black 0.1em 0.1em 0.2em;
    }

    button {
        text-transform: uppercase;
        font-size: $fontSize-second;
        width: 240px;
        height: 65px;
        border-radius: 5px;
        border: none;
        display: block;
        margin: 0 auto;
        color: $color-second;
        background-color: $color-fourth;
        cursor: pointer;
        font-family: $font-primary;
        font-weight: 700;
    }
}

/*SERVICES*/
 .services {
    margin-top: 120px;
    margin-bottom: 120px;

     h1 {
        text-align: center;
        text-transform: uppercase;
        line-height: 0;
        font-size: $fontSize-primary;
        font-family: $font-primary;
        font-weight: 800;
        font-style: bold;
        color: $color-primary;
     }

     p {
        margin-top: 30px;
        margin-bottom: 70px;
        text-align: center;
        font-size: $fontSize-fourth;
        font-family: $font-second;
        color: $color-third;
     }

     .icons { 
        display: flex;

        div {
            text-align:center;
           
            h2 {
                text-transform: capitalize;
                font-size: $fontSize-second;
                margin-top: 10px;
                margin-bottom: 10px;
                font-family: $font-primary;
                font-weight: 700;
                color: $color-primary;


            }

            p {
                font-size: $fontSize-fifth;
                font-family: $font-p;
                color: $color-third;
                line-height: 1.5;
                 padding: 0 30px;
                 margin-top: 0;
                 margin-bottom: 0;
            }
        }
     }

}

/*PORTFOLIO*/
.our-portfolio {
     background: $color-background;
     padding-top: 100px;

     h1 {
        text-transform: uppercase;
        text-align: center;
        font-family: $font-primary;
        font-size: $fontSize-primary;
        font-weight: 800;
        color: $color-primary;
        line-height: 0;
     }

     p {
        margin-top: 30px;
        text-align: center;
        font-family:$font-second;
        font-size: $fontSize-fourth;
        color: $color-third;

     }

     .portfolio {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 75px;
        padding-bottom: 110px;

        div {
            background: $color-second;
            width: 290px;
            height: 390px;
            margin: 25px 0;
            text-align: center;

            img {
                width: 290px;
                height: 300px;
            }

            h2 { 
                text-transform: capitalize;
                margin-bottom: 0;
                font-family: $font-primary;
                font-size: $fontSize-second;
                font-weight: 800;
                color: $color-primary;
            }

            p {
                margin-top: 2px;
                font-family: $font-second;
                font-size: $fontSize-fifth;
                color: $color-fifth;
            }

        }
     }  
}

/*ABOUT US*/
.about-us {
    padding-bottom: 125px;

    h1 {
        text-transform: uppercase;
        text-align: center;
        font-family: $font-primary;
        font-size: $fontSize-primary;
        font-weight: 800;
        color: $color-primary;
        padding-top: 120px;
        margin-bottom: 0;
        margin-top: 0;
        line-height: 0;
    }

    p {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 84px;
        font-family:$font-second;
        font-size: $fontSize-fourth;
        color: $color-third;
    }


    .about {

        .timeline {
            display: flex;
            justify-content: center;
        
            .content {
                height: 170px;
                width: 320px;

                h2 {
                    font-family: $font-primary;
                    font-size: $fontSize-second;
                    color: $color-primary;
                    text-transform: uppercase;
                    margin-top: 0;
                    margin-bottom: 15px;

                    span {
                        text-transform: capitalize;
                    }
                } 

                p {
                    margin-top: 0;
                    margin-bottom: 0;
                    font-family: $font-p;
                    font-size: $fontSize-fifth;
                    line-height: 1.5;
                    color: $color-third;
                }

                .text-right {
                    text-align: right;
                }

                .text-left {
                    text-align: left;
                }
                
            }

            .circle {
                width: 169px;
                height: 170px; 
                border: 5px solid #f1f1f1;;
                border-radius: 50%;
                margin-left: 40px;
                margin-right: 40px;
            }

            .photo-july {
                background-image: url(../images/july.png);
                background-size: cover;
            }

            .photo-january {
                background-image: url(../images/january.png);
                background-size: cover;
            }

            .photo-december {
                background-image: url(../images/december.png);
                background-size: cover;
            }

            .photo-february {
                background-image: url(../images/february.png);
                background-size: cover;
            }

            .empty {
            height: 170px;
            width: 320px;
            }
        }

        .our-story {
            .circle-story {
                background: $color-fourth;
            }

            .story {
                color: $color-second;
                text-align: center;
                text-transform: uppercase;
                font-family: $font-primary;
                font-size: $fontSize-second;
                line-height: 1.7;
                margin-top: 25px;
            }
        } 
    .line {
        width: 3px;
        height: 95px;
        background: #f1f1f1;;
        border: none;
        margin: 0 auto;
    }   
    }
}
    

/*TEAM*/
.section-team {
    background: #f9f9f9;
    margin-top: 0;

    h1 {
        text-transform: uppercase;
        text-align: center;
        font-family: $font-primary;
        font-size: $fontSize-primary;
        font-weight: 800;
        color: $color-primary;
        padding-top: 120px;
        margin-bottom: 0;
        margin-top: 0;
        line-height: 0;
    }

    p {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 83px;
        font-family:$font-second;
        font-size: $fontSize-fourth;
        color: $color-third;
    }

    .team {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .photo-team {

        .photo {
            width: 235px;
            height: 235px;
            border-radius: 50%;
        }

        .kimberly {
            background: url("https://images.pexels.com/photos/733872/pexels-photo-733872.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
            background-size: cover;
            background-position: center;
        }   

        .rico {
            background: url("https://images.pexels.com/photos/542282/pexels-photo-542282.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
            background-size: cover;
            background-position: center;
        }

        .uku {
            background: url("https://images.pexels.com/photos/428341/pexels-photo-428341.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
            background-size: cover;
            background-position: center;
        }

        h2 {
            text-align: center;
            margin-bottom: 0;
            font-family: $font-primary;
            font-size: $fontSize-fourth;
            font-weight: 800;
            color: $color-primary;
        }

        p {
            text-align: center;
            margin-top: 5px;
            margin-bottom: 10px;
            font-family: $font-p;
            font-size: $fontSize-fifth;
            color: $color-third;

        }

        .social-media {
            margin: 0 auto;
            display: flex;
            justify-content: center;

            .fab {
                text-align: center;
                border: 3px solid $color-primary;
                color: $color-primary;
                width: 40px;
                height: 40px;
                font-size: 20px;
                border-radius: 50%;
                line-height: 34px;
                margin-right: 10px;
            }
        }
    }

    .text-end {
        color: green;
        margin-top: 50px;
        padding-bottom: 117px;
        margin-bottom: 0;
        font-family: $font-p;
        font-size: $fontSize-fourth;
        color: $color-third;
    }
}

/*LOGOS*/
.section-logos {
    height: 165px;
    display: flex;
    align-items: center;

    .logos {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

    img {
        margin-right: 39px;
    }
    }
}

/*CONTACT*/
.section-contact {
    background: $color-primary;
    background-image: url(../images/map.png);
    background-repeat:no-repeat;
    background-position: 850px 98px;
    background-size: cover;
    padding-bottom: 115px;

    h1 {
        text-transform: uppercase;
        text-align: center;
        font-family: $font-primary;
        font-size: $fontSize-primary;
        font-weight: 800;
        color: $color-second;
        padding-top: 110px;
        margin-bottom: 0;
        margin-top: 0;
        line-height: 0;
    }

    p {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 76px;
        font-family:$font-second;
        font-size: $fontSize-fourth;
        color: $color-third;
    }

    .contact {

        form {
            display: flex;
            justify-content: center;
        }

        .inputs {
            width: 455px;
            margin-right: 29px;


            input { 
                border: 1px solid #cccccc;
                width: 100%;
                height: 50px;
                margin-bottom: 29px;
                padding: 0;
                padding-left: 20px;
                font-size: 14px;
                text-transform: uppercase;
                font-family: $font-primary;
                font-weight: 700;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }


        .message {
            width: 455px;

            textarea {
                border: 1px solid #cccccc;
                height: 208px;
                width: 100%;
                padding: 0;
                padding-left: 21px;
                padding-top: 15px;
                font-size: $fontSize-fifth;
                text-transform: uppercase;
                font-family: $font-primary;
                font-weight: 700;
     
            }
        }

        button {
                text-transform: uppercase;
                font-size: $fontSize-second;
                width: 240px;
                height: 65px;
                border-radius: 5px;
                border: none;
                display: block;
                margin: 0 auto;
                margin-top: 29px;
                color: $color-second;
                background-color: $color-fourth;
                cursor: pointer;
                font-family: $font-primary;
                font-weight: 700;
            }

    }
}


/*FOOTER*/
footer {
    height: 90px;
    display: flex;

    .footer {
        display: flex;
    
        .copyright {
            flex: 1;

            h3 {
            font-family: $font-primary;
            color: #555555;
            font-size: $fontSize-fifth;
            }
        }

        .social-media-icons {
            flex: 2;
            padding-left: 130px; 
            display: flex;
            align-items: center;

            .fab {
                    text-align: center;
                    background: $color-primary;
                    color: $color-second;
                    width: 40px;
                    height: 40px;
                    font-size: 20px;
                    border-radius: 50%;
                    line-height: 40px;
                    margin-right: 10px;
            }
        }
    }
}

